Source: ros-humble-autoware-costmap-generator-1-5-0
Section: misc
Priority: optional
Maintainer: Kosuke Takeuchi <kosuke.takeuchi@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), libpcl-dev, ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-grid-map-utils-1-5-0, ros-humble-autoware-lanelet2-extension-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-map-msgs-1-5-0, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-autoware-test-utils-1-5-0, ros-humble-autoware-utils-1-5-0, ros-humble-generate-parameter-library, ros-humble-grid-map-ros, ros-humble-pcl-conversions, ros-humble-pcl-ros, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tf2, ros-humble-tf2-eigen, ros-humble-tf2-geometry-msgs, ros-humble-tf2-ros, ros-humble-tier4-planning-msgs-1-5-0
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-costmap-generator-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpcl-dev, ros-humble-autoware-grid-map-utils-1-5-0, ros-humble-autoware-lanelet2-extension-1-5-0, ros-humble-autoware-map-msgs-1-5-0, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-autoware-test-utils-1-5-0, ros-humble-autoware-utils-1-5-0, ros-humble-generate-parameter-library, ros-humble-grid-map-ros, ros-humble-pcl-conversions, ros-humble-pcl-ros, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tf2, ros-humble-tf2-eigen, ros-humble-tf2-geometry-msgs, ros-humble-tf2-ros, ros-humble-tier4-planning-msgs-1-5-0
Description: The autoware_costmap_generator package
