Source: ros-humble-autoware-radar-object-clustering
Section: misc
Priority: optional
Maintainer: Sathshi Tanaka <satoshi.tanaka@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-object-recognition-utils, ros-humble-autoware-perception-msgs, ros-humble-autoware-universe-utils, ros-humble-geometry-msgs, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tf2, ros-humble-tf2-geometry-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-radar-object-clustering
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-object-recognition-utils, ros-humble-autoware-perception-msgs, ros-humble-autoware-universe-utils, ros-humble-geometry-msgs, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tf2, ros-humble-tf2-geometry-msgs
Description: autoware_radar_object_clustering
