Source: ros-humble-autoware-control-evaluator
Section: misc
Priority: optional
Maintainer: Daniel SANCHEZ <daniel.sanchez@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), nlohmann-json3-dev, ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-boundary-departure-checker, ros-humble-autoware-cmake, ros-humble-autoware-internal-planning-msgs, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-motion-utils, ros-humble-autoware-perception-msgs, ros-humble-autoware-planning-factor-interface, ros-humble-autoware-planning-msgs, ros-humble-autoware-route-handler, ros-humble-autoware-test-utils, ros-humble-autoware-utils, ros-humble-autoware-vehicle-info-utils, ros-humble-autoware-vehicle-msgs, ros-humble-nav-msgs, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tf2, ros-humble-tf2-ros, ros-humble-tier4-metric-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-control-evaluator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nlohmann-json3-dev, ros-humble-autoware-boundary-departure-checker, ros-humble-autoware-internal-planning-msgs, ros-humble-autoware-motion-utils, ros-humble-autoware-perception-msgs, ros-humble-autoware-planning-factor-interface, ros-humble-autoware-planning-msgs, ros-humble-autoware-route-handler, ros-humble-autoware-test-utils, ros-humble-autoware-utils, ros-humble-autoware-vehicle-info-utils, ros-humble-autoware-vehicle-msgs, ros-humble-nav-msgs, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tf2, ros-humble-tf2-ros, ros-humble-tier4-metric-msgs
Description: ROS 2 node for evaluating control
