Source: ros-humble-autoware-downsample-filters-1-5-0
Section: misc
Priority: optional
Maintainer: amc-nu <abrahammonrroy@yahoo.com>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-point-types-1-5-0, ros-humble-autoware-utils-debug-1-5-0, ros-humble-autoware-utils-system-1-5-0, ros-humble-autoware-utils-tf-1-5-0, ros-humble-pcl-conversions, ros-humble-rclcpp, ros-humble-sensor-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-downsample-filters-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-point-types-1-5-0, ros-humble-autoware-utils-debug-1-5-0, ros-humble-autoware-utils-system-1-5-0, ros-humble-autoware-utils-tf-1-5-0, ros-humble-pcl-conversions, ros-humble-rclcpp, ros-humble-sensor-msgs
Description: The ROS 2 autoware_downsample_filters package
