Source: ros-humble-eagleye-tf-1-5-0
Section: misc
Priority: optional
Maintainer: Osamu Sekino <osamu.sekino@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-eagleye-tf-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: The eagleye_tf package
