Source: ros-humble-autoware-tracking-object-merger-1-5-0
Section: misc
Priority: optional
Maintainer: Yukihiro Saito <yukihiro.saito@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), libeigen3-dev, ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-object-recognition-utils-1-5-0, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-autoware-universe-utils-1-5-0, ros-humble-eigen3-cmake-module, ros-humble-glog-1-5-0, ros-humble-mussp-1-5-0, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tf2, ros-humble-tf2-ros
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-tracking-object-merger-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-humble-autoware-object-recognition-utils-1-5-0, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-autoware-universe-utils-1-5-0, ros-humble-glog-1-5-0, ros-humble-mussp-1-5-0, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tf2, ros-humble-tf2-ros
Description: merge tracking object
