Source: ros-humble-autoware-perception-rviz-plugin-1-5-0
Section: misc
Priority: optional
Maintainer: Apex.AI, Inc. <opensource@apex.ai>
Build-Depends: debhelper (>= 12.0.0), libboost-dev, qtbase5-dev, ros-humble-ament-cmake-1-5-0, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-lanelet2-extension-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-map-msgs-1-5-0, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-rviz-common, ros-humble-rviz-default-plugins, ros-humble-tf2-geometry-msgs, ros-humble-tf2-ros
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-perception-rviz-plugin-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5widgets5, ros-humble-autoware-lanelet2-extension-1-5-0, ros-humble-autoware-map-msgs-1-5-0, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-rviz-common, ros-humble-rviz-default-plugins, ros-humble-rviz2, ros-humble-tf2-geometry-msgs, ros-humble-tf2-ros
Description: Contains plugins to visualize object detection outputs
