Source: ros-humble-autoware-rtc-interface-1-5-0
Section: misc
Priority: optional
Maintainer: Fumiya Watanabe <fumiya.watanabe@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-test-utils-1-5-0 <!nocheck>, ros-humble-autoware-utils-1-5-0, ros-humble-rclcpp, ros-humble-tier4-rtc-msgs-1-5-0, ros-humble-unique-identifier-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-rtc-interface-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-utils-1-5-0, ros-humble-rclcpp, ros-humble-tier4-rtc-msgs-1-5-0, ros-humble-unique-identifier-msgs
Description: The autoware_rtc_interface package
