Source: ros-humble-autoware-cluster-merger-1-5-0
Section: misc
Priority: optional
Maintainer: Yukihiro Saito <yukihiro.saito@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-object-recognition-utils-1-5-0, ros-humble-autoware-test-utils-1-5-0, ros-humble-autoware-utils-1-5-0, ros-humble-geometry-msgs, ros-humble-message-filters, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tier4-perception-msgs-1-5-0
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-cluster-merger-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-object-recognition-utils-1-5-0, ros-humble-autoware-test-utils-1-5-0, ros-humble-autoware-utils-1-5-0, ros-humble-geometry-msgs, ros-humble-message-filters, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tier4-perception-msgs-1-5-0
Description: The ROS 2 cluster merger package
