Source: ros-humble-tier4-autoware-api-launch
Section: misc
Priority: optional
Maintainer: Takagi, Isamu <isamu.takagi@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-tier4-autoware-api-launch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-ad-api-adaptors, ros-humble-autoware-default-adapi, ros-humble-autoware-iv-external-api-adaptor, ros-humble-autoware-iv-internal-api-adaptor, ros-humble-autoware-path-distance-calculator, ros-humble-awapi-awiv-adapter, ros-humble-rosbridge-server, ros-humble-topic-tools
Description: The tier4_autoware_api_launch package
