Source: ros-humble-single-lidar-sensor-kit-launch-1-7-1
Section: misc
Priority: optional
Maintainer: beginning.fan <beginning.fan@autocore.ai>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-lint-common-1-7-1 <!nocheck>
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-single-lidar-sensor-kit-launch-1-7-1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-gnss-poser-1-7-1, ros-humble-autoware-vehicle-velocity-converter-1-7-1, ros-humble-single-lidar-common-launch-1-7-1, ros-humble-topic-tools, ros-humble-ublox-gps, ros-humble-usb-cam
Description: The single_lidar_sensor_kit_launch package
