Source: ros-humble-agnocast-cie-thread-configurator-1-9-0
Section: misc
Priority: optional
Maintainer: Takahiro Ishikawa-Aso <sykwer@gmail.com>
Build-Depends: debhelper (>= 12.0.0), libyaml-cpp-dev, ros-humble-agnocast-cie-config-msgs-1-9-0, ros-humble-ament-cmake-1-9-0, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-rclcpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-agnocast-cie-thread-configurator-1-9-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libyaml-cpp-dev, ros-humble-agnocast-cie-config-msgs-1-9-0, ros-humble-rclcpp
Description: A dedicated node that configures the scheduling attributes of each thread in callback_isolated_executor.
