Source: ros-humble-tier4-autoware-api-launch-1-9-0
Section: misc
Priority: optional
Maintainer: Takagi, Isamu <isamu.takagi@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-9-0, ros-humble-autoware-lint-common-1-9-0 <!nocheck>
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-tier4-autoware-api-launch-1-9-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-adapi-adaptors-1-9-0, ros-humble-autoware-default-adapi-universe-1-9-0, ros-humble-autoware-evaluation-adapter-1-9-0
Description: The tier4_autoware_api_launch package
