Source: ros-humble-imu-description
Section: misc
Priority: optional
Maintainer: Yukihiro Saito <yukihiro.saito@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-imu-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: The imu_description package
