Source: ros-humble-autoware-pyplot
Section: misc
Priority: optional
Maintainer: Mamoru Sobue <mamoru.sobue@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), pybind11-dev, python3-dev, ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-pyplot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pybind11-dev, python3-dev
Description: C++ interface for matplotlib based on pybind11
