Source: ros-humble-tier4-planning-factor-rviz-plugin-1-5-0
Section: misc
Priority: optional
Maintainer: Satoshi Ota <satoshi.ota@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), qtbase5-dev, ros-humble-ament-cmake-1-5-0, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-internal-planning-msgs-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-motion-utils-1-5-0, ros-humble-autoware-utils-1-5-0, ros-humble-autoware-vehicle-info-utils-1-5-0, ros-humble-rviz-common, ros-humble-rviz-default-plugins
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-tier4-planning-factor-rviz-plugin-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5widgets5, ros-humble-autoware-internal-planning-msgs-1-5-0, ros-humble-autoware-motion-utils-1-5-0, ros-humble-autoware-utils-1-5-0, ros-humble-autoware-vehicle-info-utils-1-5-0, ros-humble-rviz-common, ros-humble-rviz-default-plugins, ros-humble-rviz2
Description: The tier4_planning_factor_rviz_plugin package
