# Build outputs
*/output/
repo/

# colcon2deb builds
*/*/build/

# Debian build artifacts
*.deb
*.ddeb
*.buildinfo
*.changes

# Debhelper build state (in debian-overrides)
**/debian/.debhelper/
**/debian/debhelper-build-stamp
**/debian/*.substvars
**/debian/files
**/debian/*.debhelper.log
**/debian/ros-humble-*/

# Editor files
*~
.*~
*.swp
*.swo
.*.~undo-tree~
