Source: ros-humble-nebula-continental-decoders-1-7-1
Section: misc
Priority: optional
Maintainer: David Wong <david.wong@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-autoware-cmake-1-7-1, ros-humble-continental-msgs-1-7-1, ros-humble-diagnostic-msgs, ros-humble-nebula-continental-common-1-7-1, ros-humble-nebula-core-common-1-7-1, ros-humble-nebula-msgs-1-7-1, ros-humble-rclcpp, ros-humble-ros-environment
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-nebula-continental-decoders-1-7-1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-continental-msgs-1-7-1, ros-humble-diagnostic-msgs, ros-humble-nebula-continental-common-1-7-1, ros-humble-nebula-core-common-1-7-1, ros-humble-nebula-msgs-1-7-1, ros-humble-rclcpp
Description: Nebula Continental Decoders Library
