Source: ros-humble-autoware-glog-component
Section: misc
Priority: optional
Maintainer: Takamasa Horibe <takamasa.horibe@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), glog, ros-humble-ament-cmake, ros-humble-ament-cmake-auto, ros-humble-autoware-cmake, ros-humble-rclcpp, ros-humble-rclcpp-components
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-glog-component
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, glog, ros-humble-rclcpp, ros-humble-rclcpp-components
Description: The autoware_glog_component package
