Source: ros-humble-autoware-lanelet2-map-visualizer-1-5-0
Section: misc
Priority: optional
Maintainer: Yamato Ando <yamato.ando@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-lanelet2-extension-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-map-loader-1-5-0 <!nocheck>, ros-humble-autoware-map-msgs-1-5-0, ros-humble-launch-testing-ament-cmake <!nocheck>, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-lanelet2-map-visualizer-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-lanelet2-extension-1-5-0, ros-humble-autoware-map-msgs-1-5-0, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-visualization-msgs
Description: The autoware_lanelet2_map_visualizer package
