Source: ros-humble-autoware-ar-tag-based-localizer-1-5-0
Section: misc
Priority: optional
Maintainer: Masahiro Sakamoto <masahiro.sakamoto@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-1-5-0, ros-humble-ament-index-cpp <!nocheck>, ros-humble-aruco, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-landmark-manager-1-5-0, ros-humble-autoware-localization-util-1-5-0, ros-humble-autoware-utils-geometry-1-5-0, ros-humble-cv-bridge, ros-humble-diagnostic-msgs, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tf2-eigen, ros-humble-tf2-geometry-msgs, ros-humble-tf2-ros, ros-humble-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-ar-tag-based-localizer-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-aruco, ros-humble-autoware-landmark-manager-1-5-0, ros-humble-autoware-localization-util-1-5-0, ros-humble-autoware-utils-geometry-1-5-0, ros-humble-cv-bridge, ros-humble-diagnostic-msgs, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tf2-eigen, ros-humble-tf2-geometry-msgs, ros-humble-tf2-ros, ros-humble-visualization-msgs
Description: The autoware_ar_tag_based_localizer package
