Source: ros-humble-awsim-sensor-kit-description-1-5-0
Section: misc
Priority: optional
Maintainer: Piotr Jaroszek <piotr.jaroszek@robotec.ai>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-awsim-sensor-kit-description-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-camera-description-1-5-0, ros-humble-imu-description-1-5-0, ros-humble-velodyne-description-1-5-0, ros-humble-vls-description-1-5-0, ros-humble-xacro
Description: The awsim_sensor_kit_description package
