Source: ros-humble-autoware-dummy-perception-publisher-1-5-0
Section: misc
Priority: optional
Maintainer: Yukihiro Saito <yukihiro.saito@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), libpcl-dev, ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-autoware-point-types-1-5-0, ros-humble-autoware-trajectory-1-5-0, ros-humble-autoware-utils-geometry-1-5-0, ros-humble-autoware-utils-rclcpp-1-5-0, ros-humble-autoware-utils-uuid-1-5-0, ros-humble-pcl-conversions, ros-humble-rclcpp, ros-humble-rosidl-default-generators, ros-humble-sensor-msgs, ros-humble-std-msgs, ros-humble-tf2, ros-humble-tf2-geometry-msgs, ros-humble-tf2-ros, ros-humble-tier4-perception-msgs-1-5-0, ros-humble-tier4-simulation-msgs-1-5-0, ros-humble-unique-identifier-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-dummy-perception-publisher-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpcl-dev, ros-humble-autoware-detected-object-feature-remover-1-5-0, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-autoware-point-types-1-5-0, ros-humble-autoware-shape-estimation-1-5-0, ros-humble-autoware-trajectory-1-5-0, ros-humble-autoware-utils-geometry-1-5-0, ros-humble-autoware-utils-rclcpp-1-5-0, ros-humble-autoware-utils-uuid-1-5-0, ros-humble-pcl-conversions, ros-humble-rclcpp, ros-humble-rosidl-default-runtime, ros-humble-sensor-msgs, ros-humble-std-msgs, ros-humble-tf2, ros-humble-tf2-geometry-msgs, ros-humble-tf2-ros, ros-humble-tier4-perception-msgs-1-5-0, ros-humble-tier4-simulation-msgs-1-5-0, ros-humble-unique-identifier-msgs
Description: The autoware_dummy_perception_publisher package
