Source: ros-humble-boost-serial-driver
Section: misc
Priority: optional
Maintainer: Joshua Whitley <whitleysoftwareservices@gmail.com>
Build-Depends: debhelper (>= 12.0.0), libboost-dev, ros-humble-ament-cmake-auto, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-boost-io-context, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-rclcpp-lifecycle, ros-humble-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-boost-serial-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-boost-io-context, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-rclcpp-lifecycle, ros-humble-std-msgs
Description: A template class and associated utilities which encapsulate basic reading from serial ports
