Source: ros-humble-eagleye-coordinate-1-5-0
Section: misc
Priority: optional
Maintainer: osamu.sekino <osamu.sekino@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), libeigen3-dev, libgeographic-dev, ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-geodesy, ros-humble-geographic-info, ros-humble-geographic-msgs, ros-humble-rclcpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-eagleye-coordinate-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, libgeographic-dev, ros-humble-geodesy, ros-humble-geographic-info, ros-humble-geographic-msgs, ros-humble-rclcpp
Description: The coordinate package
