Source: ros-humble-autoware-probabilistic-occupancy-grid-map-1-5-0
Section: misc
Priority: optional
Maintainer: Yukihiro Saito <yukihiro.saito@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-cuda-dependency-meta-1-5-0, ros-humble-autoware-cuda-utils-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-pointcloud-preprocessor-1-5-0 <!nocheck>, ros-humble-autoware-utils-1-5-0, ros-humble-eigen3-cmake-module, ros-humble-grid-map-costmap-2d, ros-humble-grid-map-msgs, ros-humble-grid-map-ros, ros-humble-laser-geometry, ros-humble-launch <!nocheck>, ros-humble-launch-ros <!nocheck>, ros-humble-launch-testing <!nocheck>, ros-humble-launch-testing-ament-cmake <!nocheck>, ros-humble-launch-testing-ros <!nocheck>, ros-humble-message-filters, ros-humble-nav-msgs, ros-humble-nav2-costmap-2d, ros-humble-pcl-ros, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-sensor-msgs, ros-humble-tf2-eigen, ros-humble-tf2-ros, ros-humble-tf2-sensor-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-probabilistic-occupancy-grid-map-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-cuda-dependency-meta-1-5-0, ros-humble-autoware-cuda-utils-1-5-0, ros-humble-autoware-pointcloud-preprocessor-1-5-0, ros-humble-autoware-utils-1-5-0, ros-humble-grid-map-costmap-2d, ros-humble-grid-map-msgs, ros-humble-grid-map-ros, ros-humble-laser-geometry, ros-humble-message-filters, ros-humble-nav-msgs, ros-humble-nav2-costmap-2d, ros-humble-pcl-ros, ros-humble-pointcloud-to-laserscan-1-5-0, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-sensor-msgs, ros-humble-tf2-eigen, ros-humble-tf2-ros, ros-humble-tf2-sensor-msgs
Description: generate probabilistic occupancy grid map
