Source: ros-humble-robosense-msgs
Section: misc
Priority: optional
Maintainer: Mehmet Emin BASOGLU <memin@leodrive.ai>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-builtin-interfaces, ros-humble-rosidl-default-generators, ros-humble-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-robosense-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-builtin-interfaces, ros-humble-rosidl-default-runtime, ros-humble-std-msgs
Description: Robosense message types for Nebula
