Source: ros-humble-autoware-bag-time-manager-rviz-plugin-1-5-0
Section: misc
Priority: optional
Maintainer: Taiki Tanaka <taiki.tanaka@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), libqt5core5a, libqt5gui5, libqt5widgets5, qtbase5-dev, ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-rclcpp, ros-humble-rosbag2-interfaces, ros-humble-rviz-common
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-bag-time-manager-rviz-plugin-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a, libqt5gui5, libqt5widgets5, qtbase5-dev, ros-humble-rclcpp, ros-humble-rosbag2-interfaces, ros-humble-rviz-common
Description: Rviz plugin to publish and control the ros bag
