Source: ros-humble-autoware-localization-evaluator-1-5-0
Section: misc
Priority: optional
Maintainer: Dominik Jargot <dominik.jargot@robotec.ai>
Build-Depends: debhelper (>= 12.0.0), libeigen3-dev, ros-humble-ament-cmake-auto, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ament-index-cpp <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-planning-msgs-1-5-0, ros-humble-autoware-utils-1-5-0, ros-humble-diagnostic-msgs, ros-humble-geometry-msgs, ros-humble-message-filters, ros-humble-nav-msgs, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tf2, ros-humble-tf2-ros
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-localization-evaluator-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-humble-autoware-planning-msgs-1-5-0, ros-humble-autoware-utils-1-5-0, ros-humble-diagnostic-msgs, ros-humble-geometry-msgs, ros-humble-message-filters, ros-humble-nav-msgs, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tf2, ros-humble-tf2-ros
Description: localization evaluator ROS 2 node
