Source: ros-humble-autoware-control-command-gate-1-5-0
Section: misc
Priority: optional
Maintainer: Takagi, Isamu <isamu.takagi@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-command-mode-types-1-5-0, ros-humble-autoware-component-interface-specs-universe-1-5-0, ros-humble-autoware-component-interface-utils-1-5-0, ros-humble-autoware-control-msgs-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-motion-utils-1-5-0, ros-humble-autoware-vehicle-cmd-gate-1-5-0, ros-humble-autoware-vehicle-info-utils-1-5-0, ros-humble-autoware-vehicle-msgs-1-5-0, ros-humble-diagnostic-updater, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tier4-external-api-msgs-1-5-0, ros-humble-tier4-system-msgs-1-5-0
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-control-command-gate-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-command-mode-types-1-5-0, ros-humble-autoware-component-interface-specs-universe-1-5-0, ros-humble-autoware-component-interface-utils-1-5-0, ros-humble-autoware-control-msgs-1-5-0, ros-humble-autoware-motion-utils-1-5-0, ros-humble-autoware-vehicle-cmd-gate-1-5-0, ros-humble-autoware-vehicle-info-utils-1-5-0, ros-humble-autoware-vehicle-msgs-1-5-0, ros-humble-diagnostic-updater, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tier4-external-api-msgs-1-5-0, ros-humble-tier4-system-msgs-1-5-0
Description: The control_command_gate package
