Source: ros-humble-autoware-grid-map-utils
Section: misc
Priority: optional
Maintainer: Maxime CLEMENT <maxime.clement@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), libopencv-dev, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-utils, ros-humble-eigen3-cmake-module, ros-humble-grid-map-core, ros-humble-grid-map-cv
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-grid-map-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopencv-dev, ros-humble-autoware-utils, ros-humble-grid-map-core, ros-humble-grid-map-cv
Description: Utilities for the grid_map library
