Source: ros-humble-autoware-motion-velocity-obstacle-velocity-limiter-module
Section: misc
Priority: optional
Maintainer: Maxime CLEMENT <maxime.clement@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), libboost-dev, libeigen3-dev, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-grid-map-utils, ros-humble-autoware-lanelet2-extension, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-motion-utils, ros-humble-autoware-motion-velocity-planner-common, ros-humble-autoware-perception-msgs, ros-humble-autoware-planning-msgs, ros-humble-autoware-planning-test-manager, ros-humble-autoware-utils, ros-humble-autoware-vehicle-info-utils, ros-humble-eigen3-cmake-module, ros-humble-grid-map-msgs, ros-humble-grid-map-ros, ros-humble-lanelet2-core, ros-humble-nav-msgs, ros-humble-pcl-ros, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-sensor-msgs, ros-humble-tf2-eigen, ros-humble-tf2-geometry-msgs, ros-humble-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-motion-velocity-obstacle-velocity-limiter-module
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-dev, libeigen3-dev, ros-humble-autoware-grid-map-utils, ros-humble-autoware-lanelet2-extension, ros-humble-autoware-motion-utils, ros-humble-autoware-motion-velocity-planner-common, ros-humble-autoware-perception-msgs, ros-humble-autoware-planning-msgs, ros-humble-autoware-planning-test-manager, ros-humble-autoware-utils, ros-humble-autoware-vehicle-info-utils, ros-humble-grid-map-msgs, ros-humble-grid-map-ros, ros-humble-lanelet2-core, ros-humble-nav-msgs, ros-humble-pcl-ros, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-sensor-msgs, ros-humble-tf2-eigen, ros-humble-tf2-geometry-msgs, ros-humble-visualization-msgs
Description: Package to adjust velocities of a trajectory in order for the ride to feel safe
