Source: ros-humble-autoware-behavior-velocity-virtual-traffic-light-module-1-5-0
Section: misc
Priority: optional
Maintainer: Kosuke Takeuchi <kosuke.takeuchi@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), nlohmann-json3-dev, ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-adapi-v1-msgs-1-5-0, ros-humble-autoware-behavior-velocity-planner-1-5-0, ros-humble-autoware-behavior-velocity-planner-common-1-5-0, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-internal-planning-msgs-1-5-0, ros-humble-autoware-lanelet2-extension-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-motion-utils-1-5-0, ros-humble-autoware-planning-msgs-1-5-0, ros-humble-autoware-route-handler-1-5-0, ros-humble-autoware-utils-1-5-0, ros-humble-autoware-vehicle-info-utils-1-5-0, ros-humble-geometry-msgs, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-tier4-planning-msgs-1-5-0, ros-humble-tier4-v2x-msgs-1-5-0, ros-humble-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-behavior-velocity-virtual-traffic-light-module-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nlohmann-json3-dev, ros-humble-autoware-adapi-v1-msgs-1-5-0, ros-humble-autoware-behavior-velocity-planner-1-5-0, ros-humble-autoware-behavior-velocity-planner-common-1-5-0, ros-humble-autoware-internal-planning-msgs-1-5-0, ros-humble-autoware-lanelet2-extension-1-5-0, ros-humble-autoware-motion-utils-1-5-0, ros-humble-autoware-planning-msgs-1-5-0, ros-humble-autoware-route-handler-1-5-0, ros-humble-autoware-utils-1-5-0, ros-humble-autoware-vehicle-info-utils-1-5-0, ros-humble-geometry-msgs, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-tier4-planning-msgs-1-5-0, ros-humble-tier4-v2x-msgs-1-5-0, ros-humble-visualization-msgs
Description: The autoware_behavior_velocity_virtual_traffic_light_module package
