Source: ros-humble-autoware-time-utils-1-5-0
Section: misc
Priority: optional
Maintainer: Christopher Ho <christopherj.ho@gmail.com>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>, ros-humble-builtin-interfaces
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-time-utils-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Simple conversion methods to/from std::chrono to simplify algorithm development
