Source: ros-humble-trt-batched-nms-1-5-0
Section: misc
Priority: optional
Maintainer: Barış Zeren <baris@leodrive.ai>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-cuda-utils-1-5-0, ros-humble-autoware-tensorrt-common-1-5-0, ros-humble-cudnn-cmake-module, ros-humble-tensorrt-cmake-module
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-trt-batched-nms-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-cuda-utils-1-5-0, ros-humble-autoware-tensorrt-common-1-5-0, ros-humble-cudnn-cmake-module, ros-humble-tensorrt-cmake-module
Description: ROS 2 package for TensorRT batched NMS plugin
