Source: ros-humble-autoware-motion-velocity-road-user-stop-module-1-5-0
Section: misc
Priority: optional
Maintainer: Takumi Odashima <takumi.odashima@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), libboost-dev, ros-humble-ament-cmake-1-5-0, ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-lanelet2-extension-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-motion-utils-1-5-0, ros-humble-autoware-motion-velocity-planner-common-1-5-0, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-autoware-planning-msgs-1-5-0, ros-humble-autoware-route-handler-1-5-0, ros-humble-autoware-universe-utils-1-5-0, ros-humble-autoware-vehicle-info-utils-1-5-0, ros-humble-generate-parameter-library, ros-humble-geometry-msgs, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-tf2, ros-humble-tf2-geometry-msgs, ros-humble-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-motion-velocity-road-user-stop-module-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-dev, ros-humble-autoware-lanelet2-extension-1-5-0, ros-humble-autoware-motion-utils-1-5-0, ros-humble-autoware-motion-velocity-planner-common-1-5-0, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-autoware-planning-msgs-1-5-0, ros-humble-autoware-route-handler-1-5-0, ros-humble-autoware-universe-utils-1-5-0, ros-humble-autoware-vehicle-info-utils-1-5-0, ros-humble-generate-parameter-library, ros-humble-geometry-msgs, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-tf2, ros-humble-tf2-geometry-msgs, ros-humble-visualization-msgs
Description: road_user_stop module to stop ego vehicle when road users (pedestrians, cyclists) are on the road
