Source: ros-humble-carla-sensor-kit-description-1-5-0
Section: misc
Priority: optional
Maintainer: Autoware Maintainer <noreply@example.com>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-carla-sensor-kit-description-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-camera-description, ros-humble-imu-description, ros-humble-velodyne-description, ros-humble-xacro
Description: The carla_sensor_kit_description package - Sensor kit calibration for CARLA simulator
