Source: ros-humble-autoware-localization-error-monitor
Section: misc
Priority: optional
Maintainer: Yamato Ando <yamato.ando@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-localization-util, ros-humble-autoware-utils-diagnostics, ros-humble-autoware-utils-logging, ros-humble-diagnostic-msgs, ros-humble-nav-msgs, ros-humble-rclcpp-components, ros-humble-tf2, ros-humble-tf2-geometry-msgs, ros-humble-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-localization-error-monitor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-localization-util, ros-humble-autoware-utils-diagnostics, ros-humble-autoware-utils-logging, ros-humble-diagnostic-msgs, ros-humble-nav-msgs, ros-humble-rclcpp-components, ros-humble-tf2, ros-humble-tf2-geometry-msgs, ros-humble-visualization-msgs
Description: ros node for monitoring localization error
