Source: ros-humble-autoware-sampler-common
Section: misc
Priority: optional
Maintainer: Maxime CLEMENT <maxime.clement@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-interpolation, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-utils
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-sampler-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-interpolation, ros-humble-autoware-utils
Description: Common classes and functions for sampling based planners
