Source: ros-humble-cuda-blackboard
Section: misc
Priority: optional
Maintainer: Kenzo Lobos-Tsunekawa <kenzo.lobos@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-cv-bridge, ros-humble-negotiated, ros-humble-negotiated-interfaces, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-ros-environment, ros-humble-sensor-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-cuda-blackboard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-cv-bridge, ros-humble-negotiated, ros-humble-negotiated-interfaces, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-sensor-msgs
Description: The cuda_blackboard package
