Source: ros-humble-autoware-utils-diagnostics-1-5-0
Section: misc
Priority: optional
Maintainer: Jian Kang <egon.kang@autocore.ai>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-diagnostic-msgs, ros-humble-rclcpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-utils-diagnostics-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-diagnostic-msgs, ros-humble-rclcpp
Description: The autoware_utils_diagnostics package
