Source: ros-humble-autoware-motion-velocity-run-out-module-1-5-0
Section: misc
Priority: optional
Maintainer: Maxime Clement <maxime.clement@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), libboost-dev, libeigen3-dev, ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-map-msgs-1-5-0, ros-humble-autoware-motion-utils-1-5-0, ros-humble-autoware-motion-velocity-planner-common-1-5-0, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-autoware-planning-msgs-1-5-0, ros-humble-autoware-planning-test-manager-1-5-0 <!nocheck>, ros-humble-autoware-universe-utils-1-5-0, ros-humble-autoware-velocity-smoother-1-5-0, ros-humble-diagnostic-updater, ros-humble-eigen3-cmake-module, ros-humble-geometry-msgs, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-rosidl-default-generators, ros-humble-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-motion-velocity-run-out-module-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-dev, libeigen3-dev, ros-humble-autoware-map-msgs-1-5-0, ros-humble-autoware-motion-utils-1-5-0, ros-humble-autoware-motion-velocity-planner-common-1-5-0, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-autoware-planning-msgs-1-5-0, ros-humble-autoware-universe-utils-1-5-0, ros-humble-autoware-velocity-smoother-1-5-0, ros-humble-diagnostic-updater, ros-humble-geometry-msgs, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-rosidl-default-runtime, ros-humble-visualization-msgs
Description: run out module for the motion_velocity_planner
