Source: ros-humble-carla-sensor-kit-launch-1-9-0
Section: misc
Priority: optional
Maintainer: Autoware Maintainer <noreply@example.com>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-carla-sensor-kit-description-1-9-0
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-carla-sensor-kit-launch-1-9-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-imu-corrector-1-9-0, ros-humble-autoware-vehicle-velocity-converter-1-9-0, ros-humble-carla-sensor-kit-description-1-9-0
Description: The carla_sensor_kit_launch package - Launch files for CARLA sensor kit
