Source: ros-humble-tier4-system-launch
Section: misc
Priority: optional
Maintainer: Fumihito Ito <fumihito.ito@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-tier4-system-launch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-component-state-monitor, ros-humble-system-monitor
Description: The tier4_system_launch package
