Source: ros-humble-nebula-1-9-0
Section: misc
Priority: optional
Maintainer: David Wong <david.wong@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-1-9-0, ros-humble-nebula-continental-1-9-0, ros-humble-nebula-hesai-1-9-0, ros-humble-nebula-robosense-1-9-0, ros-humble-nebula-velodyne-1-9-0
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-nebula-1-9-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-nebula-continental-1-9-0, ros-humble-nebula-hesai-1-9-0, ros-humble-nebula-robosense-1-9-0, ros-humble-nebula-velodyne-1-9-0
Description: Nebula: multi-vendor LiDAR and radar driver
