Source: ros-humble-autoware-radar-object-tracker
Section: misc
Priority: optional
Maintainer: Yoshi Ri <yoshi.ri@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, libgtest-dev <!nocheck>, libyaml-cpp-dev, nlohmann-json3-dev, ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-kalman-filter, ros-humble-autoware-lanelet2-extension, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-object-recognition-utils, ros-humble-autoware-perception-msgs, ros-humble-autoware-universe-utils, ros-humble-eigen3-cmake-module, ros-humble-glog, ros-humble-mussp, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tf2, ros-humble-tf2-ros, ros-humble-unique-identifier-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-radar-object-tracker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, libyaml-cpp-dev, nlohmann-json3-dev, ros-humble-autoware-kalman-filter, ros-humble-autoware-lanelet2-extension, ros-humble-autoware-object-recognition-utils, ros-humble-autoware-perception-msgs, ros-humble-autoware-universe-utils, ros-humble-glog, ros-humble-mussp, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tf2, ros-humble-tf2-ros, ros-humble-unique-identifier-msgs
Description: Do tracking radar object
