Source: ros-humble-autoware-image-object-locator
Section: misc
Priority: optional
Maintainer: Dai Nguyen <dai.nguyen@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), libopencv-dev, ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-object-recognition-utils, ros-humble-autoware-perception-msgs, ros-humble-autoware-universe-utils, ros-humble-autoware-utils-math, ros-humble-rclcpp-components, ros-humble-sensor-msgs, ros-humble-tf2-eigen, ros-humble-tf2-sensor-msgs, ros-humble-tier4-perception-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-image-object-locator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopencv-dev, ros-humble-autoware-object-recognition-utils, ros-humble-autoware-perception-msgs, ros-humble-autoware-universe-utils, ros-humble-autoware-utils-math, ros-humble-rclcpp-components, ros-humble-sensor-msgs, ros-humble-tf2-eigen, ros-humble-tf2-sensor-msgs, ros-humble-tier4-perception-msgs
Description: The autoware_image_object_locator package
