Source: ros-humble-autoware-marker-utils-1-5-0
Section: misc
Priority: optional
Maintainer: Kosuke Takeuchi <kosuke.takeuchi@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), libboost-all-dev, librange-v3-dev, ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-index-cpp <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-lanelet2-extension-1-5-0, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-autoware-planning-msgs-1-5-0, ros-humble-autoware-utils-geometry-1-5-0, ros-humble-autoware-utils-visualization-1-5-0, ros-humble-autoware-vehicle-info-utils-1-5-0, ros-humble-rclcpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-marker-utils-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, librange-v3-dev, ros-humble-autoware-lanelet2-extension-1-5-0, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-autoware-planning-msgs-1-5-0, ros-humble-autoware-utils-geometry-1-5-0, ros-humble-autoware-utils-visualization-1-5-0, ros-humble-autoware-vehicle-info-utils-1-5-0, ros-humble-rclcpp
Description: The autoware_marker_utils package
