Source: ros-humble-autoware-component-interface-tools
Section: misc
Priority: optional
Maintainer: Takagi, Isamu <isamu.takagi@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), libfmt-dev, ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>, ros-humble-diagnostic-updater, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tier4-system-msgs, ros-humble-yaml-cpp-vendor
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-component-interface-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfmt-dev, ros-humble-diagnostic-updater, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tier4-system-msgs, ros-humble-yaml-cpp-vendor
Description: The autoware_component_interface_tools package
