Source: ros-humble-autoware-qos-utils-1-5-0
Section: misc
Priority: optional
Maintainer: xingang liu <lxg19892021@gmail.com>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-autoware-cmake-1-5-0, ros-humble-rclcpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-qos-utils-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-rclcpp
Description: Autoware QoS Utils provides QoS compatibility utilities for different ROS 2 distributions.
