Source: ros-humble-awsim-labs-vehicle-launch
Section: misc
Priority: optional
Maintainer: Ryohsuke Mitsudome <ryohsuke.mitsudome@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-awsim-labs-vehicle-launch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: The awsim_labs_vehicle_launch package
