Source: ros-humble-autoware-agnocast-wrapper-1-5-0
Section: misc
Priority: optional
Maintainer: Takahiro Ishikawa-Aso <sykwer@gmail.com>
Build-Depends: debhelper (>= 12.0.0), ros-humble-agnocastlib, ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>, ros-humble-rclcpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-agnocast-wrapper-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Wrapper macros for Agnocast (true zero-copy communication library)
