Source: ros-humble-autoware-pyplot-1-5-0
Section: misc
Priority: optional
Maintainer: Mamoru Sobue <mamoru.sobue@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), python3-dev, python3-matplotlib, ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>, ros-humble-pybind11-vendor, ros-humble-python-cmake-module
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-pyplot-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-dev, python3-matplotlib, ros-humble-pybind11-vendor
Description: C++ interface for matplotlib based on pybind11
