Source: ros-humble-autoware-control-msgs
Section: misc
Priority: optional
Maintainer: Mete Fatih Cırıt <mfc@autoware.org>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-builtin-interfaces, ros-humble-rosidl-default-generators
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-control-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-builtin-interfaces, ros-humble-rosidl-default-runtime
Description: Autoware control messages package.
