Source: ros-humble-behavior-tree-plugin
Section: misc
Priority: optional
Maintainer: masaya <masaya.kataoka@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-cmake-clang-format <!nocheck>, ros-humble-ament-cmake-copyright <!nocheck>, ros-humble-ament-cmake-lint-cmake <!nocheck>, ros-humble-ament-cmake-pep257 <!nocheck>, ros-humble-ament-cmake-xmllint <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-behaviortree-cpp-v3, ros-humble-geometry, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-traffic-simulator
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-behavior-tree-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-behaviortree-cpp-v3, ros-humble-geometry, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-traffic-simulator
Description: Behavior tree plugin for traffic_simulator
