Source: ros-humble-autoware-utils-pcl-1-5-0
Section: misc
Priority: optional
Maintainer: Jian Kang <egon.kang@autocore.ai>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-utils-tf-1-5-0, ros-humble-pcl-conversions, ros-humble-pcl-ros
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-utils-pcl-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-utils-tf-1-5-0, ros-humble-pcl-conversions, ros-humble-pcl-ros
Description: The autoware_utils_pcl package
