Source: ros-humble-autoware-learning-based-vehicle-model
Section: misc
Priority: optional
Maintainer: Maxime Clement <maxime.clement@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), python3-dev, ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>, ros-humble-pybind11-vendor
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-learning-based-vehicle-model
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-dev, ros-humble-pybind11-vendor
Description: autoware_learning_based_vehicle_model for simple_planning_simulator
