Source: ros-humble-perception-utils-1-5-0
Section: misc
Priority: optional
Maintainer: Yoshi Ri <yoshi.ri@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), libopencv-dev, ros-humble-ament-cmake-auto, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-autoware-cmake, ros-humble-rclcpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-perception-utils-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopencv-dev, ros-humble-rclcpp
Description: The perception_utils package
