Source: ros-humble-awsim-labs-sensor-kit-description
Section: misc
Priority: optional
Maintainer: Piotr Jaroszek <piotr.jaroszek@robotec.ai>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-awsim-labs-sensor-kit-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-camera-description, ros-humble-imu-description, ros-humble-velodyne-description, ros-humble-vls-description, ros-humble-xacro
Description: The awsim_labs_sensor_kit_description package
