Source: ros-humble-tier4-vehicle-launch
Section: misc
Priority: optional
Maintainer: Yukihiro Saito <yukihiro.saito@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-tier4-vehicle-launch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-raw-vehicle-cmd-converter, ros-humble-robot-state-publisher, ros-humble-xacro
Description: The tier4_vehicle_launch package
