Source: ros-humble-autoware-tensorrt-classifier
Section: misc
Priority: optional
Maintainer: Kotaro Uetake <kotaro.uetake@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-cudnn-cmake-module, ros-humble-tensorrt-cmake-module, ros-humble-autoware-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-lint-common <!nocheck>
Homepage:
Standards-Version: 3.9.2

Package: ros-humble-autoware-tensorrt-classifier
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-cuda-dependency-meta, ros-humble-autoware-cuda-utils, ros-humble-autoware-tensorrt-common, libopencv-dev, ros-humble-rclcpp
Description: tensorrt classifier wrapper

