Source: ros-humble-autoware-tensorrt-classifier
Section: misc
Priority: optional
Maintainer: Kotaro Uetake <kotaro.uetake@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), libopencv-dev, ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-cuda-dependency-meta, ros-humble-autoware-cuda-utils, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-tensorrt-common, ros-humble-cudnn-cmake-module, ros-humble-rclcpp, ros-humble-tensorrt-cmake-module
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-tensorrt-classifier
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopencv-dev, ros-humble-autoware-cuda-dependency-meta, ros-humble-autoware-cuda-utils, ros-humble-autoware-tensorrt-common, ros-humble-cudnn-cmake-module, ros-humble-rclcpp, ros-humble-tensorrt-cmake-module
Description: tensorrt classifier wrapper
