Source: ros-humble-tier4-deprecated-api-adapter
Section: misc
Priority: optional
Maintainer: Takagi, Isamu <isamu.takagi@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-adapi-v1-msgs, ros-humble-autoware-cmake, ros-humble-autoware-control-msgs, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-vehicle-msgs, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tier4-external-api-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-tier4-deprecated-api-adapter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-adapi-v1-msgs, ros-humble-autoware-control-msgs, ros-humble-autoware-vehicle-msgs, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tier4-external-api-msgs
Description: The tier4_deprecated_api_adapter package
