Source: ros-humble-autoware-behavior-path-direction-change-module-1-9-0
Section: misc
Priority: optional
Maintainer: Maintainer <takeshi.miura@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-behavior-path-planner-1-9-0, ros-humble-autoware-behavior-path-planner-common-1-9-0, ros-humble-autoware-cmake-1-9-0, ros-humble-autoware-lanelet2-utils-1-9-0, ros-humble-autoware-lint-common-1-9-0 <!nocheck>, ros-humble-autoware-motion-utils-1-9-0, ros-humble-autoware-planning-msgs-1-9-0, ros-humble-autoware-route-handler-1-9-0, ros-humble-autoware-utils-1-9-0, ros-humble-eigen3-cmake-module, ros-humble-geometry-msgs, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-tf2, ros-humble-tf2-geometry-msgs, ros-humble-tier4-planning-msgs-1-9-0
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-behavior-path-direction-change-module-1-9-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-behavior-path-planner-1-9-0, ros-humble-autoware-behavior-path-planner-common-1-9-0, ros-humble-autoware-lanelet2-utils-1-9-0, ros-humble-autoware-motion-utils-1-9-0, ros-humble-autoware-planning-msgs-1-9-0, ros-humble-autoware-route-handler-1-9-0, ros-humble-autoware-utils-1-9-0, ros-humble-geometry-msgs, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-tf2, ros-humble-tf2-geometry-msgs, ros-humble-tier4-planning-msgs-1-9-0
Description: The autoware_behavior_path_direction_change_module package - handles direction changes by detecting cusp points and reversing path orientations
