Source: ros-humble-autoware-motion-velocity-boundary-departure-prevention-module
Section: misc
Priority: optional
Maintainer: Zulfaqar Azmi <zulfaqar.azmi@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), libfmt-dev, librange-v3-dev, ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-boundary-departure-checker, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-motion-utils, ros-humble-autoware-motion-velocity-planner-common, ros-humble-autoware-trajectory, ros-humble-autoware-utils, ros-humble-autoware-utils-rclcpp, ros-humble-autoware-vehicle-info-utils, ros-humble-geometry-msgs, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-motion-velocity-boundary-departure-prevention-module
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfmt-dev, librange-v3-dev, ros-humble-autoware-boundary-departure-checker, ros-humble-autoware-motion-utils, ros-humble-autoware-motion-velocity-planner-common, ros-humble-autoware-trajectory, ros-humble-autoware-utils, ros-humble-autoware-utils-rclcpp, ros-humble-autoware-vehicle-info-utils, ros-humble-geometry-msgs, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-visualization-msgs
Description: boundary departure prevention feature in motion_velocity_planner
