Source: ros-humble-autoware-simple-object-merger
Section: misc
Priority: optional
Maintainer: Yoshi Ri <yoshi.ri@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-perception-msgs, ros-humble-autoware-test-utils, ros-humble-autoware-utils, ros-humble-geometry-msgs, ros-humble-rclcpp, ros-humble-rclcpp-components
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-simple-object-merger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-perception-msgs, ros-humble-autoware-test-utils, ros-humble-autoware-utils, ros-humble-geometry-msgs, ros-humble-rclcpp, ros-humble-rclcpp-components
Description: autoware_simple_object_merger
