Source: ros-humble-tier4-auto-msgs-converter-1-5-0
Section: misc
Priority: optional
Maintainer: Takagi, Isamu <isamu.takagi@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-autoware-planning-msgs-1-5-0, ros-humble-autoware-system-msgs-1-5-0, ros-humble-autoware-vehicle-msgs-1-5-0, ros-humble-tier4-perception-msgs-1-5-0, ros-humble-tier4-planning-msgs-1-5-0, ros-humble-tier4-system-msgs-1-5-0, ros-humble-tier4-vehicle-msgs-1-5-0
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-tier4-auto-msgs-converter-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-autoware-planning-msgs-1-5-0, ros-humble-autoware-system-msgs-1-5-0, ros-humble-autoware-vehicle-msgs-1-5-0, ros-humble-tier4-perception-msgs-1-5-0, ros-humble-tier4-planning-msgs-1-5-0, ros-humble-tier4-system-msgs-1-5-0, ros-humble-tier4-vehicle-msgs-1-5-0
Description: The tier4_auto_msgs_converter package
