Source: ros-humble-tier4-control-launch-1-5-0
Section: misc
Priority: optional
Maintainer: Takamasa Horibe <takamasa.horibe@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-tier4-control-launch-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-control-command-gate-1-5-0, ros-humble-autoware-control-evaluator-1-5-0, ros-humble-autoware-external-cmd-converter-1-5-0, ros-humble-autoware-external-cmd-selector-1-5-0, ros-humble-autoware-lane-departure-checker-1-5-0, ros-humble-autoware-shift-decider-1-5-0, ros-humble-autoware-stop-mode-operator-1-5-0, ros-humble-autoware-trajectory-follower-node-1-5-0, ros-humble-autoware-vehicle-cmd-gate-1-5-0
Description: The tier4_control_launch package
