Source: ros-humble-autoware-vehicle-cmd-gate-1-5-0
Section: misc
Priority: optional
Maintainer: Yukinari Hisaki <yukinari.hisaki.2@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-index-cpp <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-adapi-v1-msgs, ros-humble-autoware-cmake, ros-humble-autoware-component-interface-specs-universe, ros-humble-autoware-component-interface-utils, ros-humble-autoware-control-msgs, ros-humble-autoware-internal-debug-msgs, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-motion-utils, ros-humble-autoware-utils, ros-humble-autoware-vehicle-info-utils, ros-humble-autoware-vehicle-msgs, ros-humble-diagnostic-updater, ros-humble-geometry-msgs, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-rosidl-default-generators, ros-humble-std-srvs, ros-humble-tier4-api-utils, ros-humble-tier4-control-msgs, ros-humble-tier4-external-api-msgs, ros-humble-tier4-system-msgs, ros-humble-tier4-vehicle-msgs, ros-humble-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-vehicle-cmd-gate-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-adapi-v1-msgs, ros-humble-autoware-component-interface-specs-universe, ros-humble-autoware-component-interface-utils, ros-humble-autoware-control-msgs, ros-humble-autoware-internal-debug-msgs, ros-humble-autoware-motion-utils, ros-humble-autoware-utils, ros-humble-autoware-vehicle-info-utils, ros-humble-autoware-vehicle-msgs, ros-humble-diagnostic-updater, ros-humble-geometry-msgs, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-rosidl-default-runtime, ros-humble-std-srvs, ros-humble-tier4-api-utils, ros-humble-tier4-control-msgs, ros-humble-tier4-external-api-msgs, ros-humble-tier4-system-msgs, ros-humble-tier4-vehicle-msgs, ros-humble-visualization-msgs
Description: The vehicle_cmd_gate package
