Source: ros-humble-autoware-lidar-marker-localizer
Section: misc
Priority: optional
Maintainer: Yamato Ando <yamato.ando@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-landmark-manager, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-localization-util, ros-humble-autoware-map-msgs, ros-humble-autoware-point-types, ros-humble-autoware-utils-diagnostics, ros-humble-autoware-utils-geometry, ros-humble-pcl-conversions, ros-humble-pcl-ros, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-sensor-msgs, ros-humble-std-srvs, ros-humble-tf2, ros-humble-tf2-eigen, ros-humble-tf2-geometry-msgs, ros-humble-tf2-ros, ros-humble-tf2-sensor-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-lidar-marker-localizer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-landmark-manager, ros-humble-autoware-localization-util, ros-humble-autoware-map-msgs, ros-humble-autoware-point-types, ros-humble-autoware-utils-diagnostics, ros-humble-autoware-utils-geometry, ros-humble-pcl-conversions, ros-humble-pcl-ros, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-sensor-msgs, ros-humble-std-srvs, ros-humble-tf2, ros-humble-tf2-eigen, ros-humble-tf2-geometry-msgs, ros-humble-tf2-ros, ros-humble-tf2-sensor-msgs
Description: The autoware_lidar_marker_localizer package
