Source: ros-humble-autoware-map-height-fitter-1-5-0
Section: misc
Priority: optional
Maintainer: Yamato Ando <yamato.ando@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), libpcl-common1.12, ros-humble-ament-cmake-1-5-0, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-internal-localization-msgs-1-5-0, ros-humble-autoware-lanelet2-extension-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-map-msgs-1-5-0, ros-humble-autoware-qos-utils-1-5-0, ros-humble-geometry-msgs, ros-humble-pcl-conversions, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-sensor-msgs, ros-humble-tf2-geometry-msgs, ros-humble-tf2-ros
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-map-height-fitter-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpcl-common1.12, ros-humble-autoware-internal-localization-msgs-1-5-0, ros-humble-autoware-lanelet2-extension-1-5-0, ros-humble-autoware-map-msgs-1-5-0, ros-humble-autoware-qos-utils-1-5-0, ros-humble-geometry-msgs, ros-humble-pcl-conversions, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-sensor-msgs, ros-humble-tf2-geometry-msgs, ros-humble-tf2-ros
Description: The autoware_map_height_fitter package
