Source: ros-humble-autoware-frenet-planner
Section: misc
Priority: optional
Maintainer: Maxime CLEMENT <maxime.clement@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-auto-common, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-sampler-common
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-frenet-planner
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-auto-common, ros-humble-autoware-sampler-common
Description: The autoware_frenet_planner package for trajectory generation in Frenet frame
