Source: ros-humble-autoware-motion-velocity-obstacle-cruise-module-1-5-0
Section: misc
Priority: optional
Maintainer: Takayuki Murooka <takayuki.murooka@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), libboost-dev, ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-internal-planning-msgs-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-motion-utils-1-5-0, ros-humble-autoware-motion-velocity-planner-common-1-5-0, ros-humble-autoware-osqp-interface-1-5-0, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-autoware-planning-msgs-1-5-0, ros-humble-autoware-route-handler-1-5-0, ros-humble-autoware-signal-processing-1-5-0, ros-humble-autoware-utils-1-5-0, ros-humble-autoware-vehicle-info-utils-1-5-0, ros-humble-geometry-msgs, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-tf2, ros-humble-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-motion-velocity-obstacle-cruise-module-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-dev, ros-humble-autoware-internal-planning-msgs-1-5-0, ros-humble-autoware-motion-utils-1-5-0, ros-humble-autoware-motion-velocity-planner-common-1-5-0, ros-humble-autoware-osqp-interface-1-5-0, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-autoware-planning-msgs-1-5-0, ros-humble-autoware-route-handler-1-5-0, ros-humble-autoware-signal-processing-1-5-0, ros-humble-autoware-utils-1-5-0, ros-humble-autoware-vehicle-info-utils-1-5-0, ros-humble-geometry-msgs, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-tf2, ros-humble-visualization-msgs
Description: obstacle cruise feature in motion_velocity_planner
