Source: ros-humble-autoware-carla-interface-1-9-0
Section: misc
Priority: optional
Maintainer: Muhammad Raditya GIOVANNI <mradityagio@gmail.com>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-1-9-0, ros-humble-ament-cmake-python-1-9-0, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-adapi-v1-msgs-1-9-0, ros-humble-autoware-cmake-1-9-0, ros-humble-autoware-lint-common-1-9-0 <!nocheck>, ros-humble-autoware-perception-msgs-1-9-0, ros-humble-autoware-vehicle-msgs-1-9-0, ros-humble-cv-bridge, ros-humble-geometry-msgs, ros-humble-nav-msgs, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-rclpy, ros-humble-sensor-msgs, ros-humble-sensor-msgs-py, ros-humble-tf2, ros-humble-tf2-ros, ros-humble-tier4-vehicle-msgs-1-9-0
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-carla-interface-1-9-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-adapi-v1-msgs-1-9-0, ros-humble-autoware-external-cmd-selector-1-9-0, ros-humble-autoware-perception-msgs-1-9-0, ros-humble-autoware-twist2accel-1-9-0, ros-humble-autoware-vehicle-msgs-1-9-0, ros-humble-autoware-vehicle-velocity-converter-1-9-0, ros-humble-cv-bridge, ros-humble-geometry-msgs, ros-humble-nav-msgs, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-rclpy, ros-humble-sensor-msgs, ros-humble-sensor-msgs-py, ros-humble-std-msgs, ros-humble-tf2, ros-humble-tf2-ros, ros-humble-tier4-vehicle-msgs-1-9-0
Description: The carla autoware bridge package
