Source: ros-humble-tier4-simulated-clock-rviz-plugin
Section: misc
Priority: optional
Maintainer: Maxime CLEMENT <maxime.clement@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), libqt5core5a, libqt5gui5, libqt5widgets5, qtbase5-dev, ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>, ros-humble-rclcpp, ros-humble-rosgraph-msgs, ros-humble-rviz-common
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-tier4-simulated-clock-rviz-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a, libqt5gui5, libqt5widgets5, qtbase5-dev, ros-humble-rclcpp, ros-humble-rosgraph-msgs, ros-humble-rviz-common
Description: Rviz plugin to publish and control the /clock topic
