Source: ros-humble-autoware-behavior-path-dynamic-obstacle-avoidance-module-1-5-0
Section: misc
Priority: optional
Maintainer: Takayuki Murooka <takayuki.murooka@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-behavior-path-planner-1-5-0, ros-humble-autoware-behavior-path-planner-common-1-5-0, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-lanelet2-extension-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-motion-utils-1-5-0, ros-humble-autoware-object-recognition-utils-1-5-0, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-autoware-planning-msgs-1-5-0, ros-humble-autoware-signal-processing-1-5-0, ros-humble-autoware-utils-1-5-0, ros-humble-autoware-vehicle-msgs-1-5-0, ros-humble-eigen3-cmake-module, ros-humble-geometry-msgs, ros-humble-lanelet2-core, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-tf2, ros-humble-tf2-eigen, ros-humble-tf2-geometry-msgs, ros-humble-tf2-ros, ros-humble-tier4-planning-msgs-1-5-0, ros-humble-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-behavior-path-dynamic-obstacle-avoidance-module-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-behavior-path-planner-1-5-0, ros-humble-autoware-behavior-path-planner-common-1-5-0, ros-humble-autoware-lanelet2-extension-1-5-0, ros-humble-autoware-motion-utils-1-5-0, ros-humble-autoware-object-recognition-utils-1-5-0, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-autoware-planning-msgs-1-5-0, ros-humble-autoware-signal-processing-1-5-0, ros-humble-autoware-utils-1-5-0, ros-humble-autoware-vehicle-msgs-1-5-0, ros-humble-geometry-msgs, ros-humble-lanelet2-core, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-tf2, ros-humble-tf2-eigen, ros-humble-tf2-geometry-msgs, ros-humble-tf2-ros, ros-humble-tier4-planning-msgs-1-5-0, ros-humble-visualization-msgs
Description: The autoware_behavior_path_dynamic_obstacle_avoidance_module package
