Source: ros-humble-autoware-carla-interface
Section: misc
Priority: optional
Maintainer: Muhammad Raditya GIOVANNI <mradityagio@gmail.com>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-autoware-perception-msgs, ros-humble-autoware-vehicle-msgs, ros-humble-cv-bridge, ros-humble-geometry-msgs, ros-humble-rclpy, ros-humble-sensor-msgs, ros-humble-sensor-msgs-py, ros-humble-tf2, ros-humble-tf2-ros, tier4-vehicle-msgs, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-carla-interface
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-humble-autoware-perception-msgs, ros-humble-autoware-vehicle-msgs, ros-humble-cv-bridge, ros-humble-geometry-msgs, ros-humble-rclpy, ros-humble-sensor-msgs, ros-humble-sensor-msgs-py, ros-humble-std-msgs, ros-humble-tf2, ros-humble-tf2-ros, tier4-vehicle-msgs
Description: The carla autoware bridge package
