Source: ros-humble-autoware-control-command-gate
Section: misc
Priority: optional
Maintainer: Takagi, Isamu <isamu.takagi@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-command-mode-types, ros-humble-autoware-component-interface-specs-universe, ros-humble-autoware-component-interface-utils, ros-humble-autoware-control-msgs, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-motion-utils, ros-humble-autoware-vehicle-cmd-gate, ros-humble-autoware-vehicle-info-utils, ros-humble-autoware-vehicle-msgs, ros-humble-diagnostic-updater, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tier4-external-api-msgs, ros-humble-tier4-system-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-control-command-gate
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-command-mode-types, ros-humble-autoware-component-interface-specs-universe, ros-humble-autoware-component-interface-utils, ros-humble-autoware-control-msgs, ros-humble-autoware-motion-utils, ros-humble-autoware-vehicle-cmd-gate, ros-humble-autoware-vehicle-info-utils, ros-humble-autoware-vehicle-msgs, ros-humble-diagnostic-updater, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tier4-external-api-msgs, ros-humble-tier4-system-msgs
Description: The control_command_gate package
