Source: ros-humble-autoware-occupancy-grid-map-outlier-filter
Section: misc
Priority: optional
Maintainer: amc-nu <abrahammonrroy@yahoo.com>
Build-Depends: debhelper (>= 9.0.0), libpcl-dev, ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-lanelet2-extension, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-pointcloud-preprocessor, ros-humble-autoware-utils, ros-humble-message-filters, ros-humble-nav-msgs, ros-humble-pcl-conversions, ros-humble-pcl-ros, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-sensor-msgs, ros-humble-std-msgs, ros-humble-tf2-eigen, ros-humble-tf2-ros
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-occupancy-grid-map-outlier-filter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpcl-dev, ros-humble-autoware-lanelet2-extension, ros-humble-autoware-pointcloud-preprocessor, ros-humble-autoware-utils, ros-humble-message-filters, ros-humble-nav-msgs, ros-humble-pcl-conversions, ros-humble-pcl-ros, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-sensor-msgs, ros-humble-std-msgs, ros-humble-tf2-eigen, ros-humble-tf2-ros
Description: The ROS 2 occupancy_grid_map_outlier_filter package
