Source: ros-humble-negotiated-1-5-0
Section: misc
Priority: optional
Maintainer: Chris Lalancette <clalancette@openrobotics.org>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-1-5-0, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-negotiated-interfaces-1-5-0, ros-humble-rclcpp, ros-humble-std-msgs <!nocheck>
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-negotiated-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-negotiated-interfaces-1-5-0, ros-humble-rclcpp
Description: A package containing a negotiating publisher and subscription.
