Source: ros-humble-autoware-planning-topic-converter-1-5-0
Section: misc
Priority: optional
Maintainer: Satoshi OTA <satoshi.ota@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-motion-utils-1-5-0, ros-humble-autoware-planning-msgs-1-5-0, ros-humble-autoware-utils-geometry-1-5-0, ros-humble-rclcpp, ros-humble-rclcpp-components
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-planning-topic-converter-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-motion-utils-1-5-0, ros-humble-autoware-planning-msgs-1-5-0, ros-humble-autoware-utils-geometry-1-5-0, ros-humble-rclcpp, ros-humble-rclcpp-components
Description: The autoware_planning_topic_converter package
