Source: ros-humble-awapi-awiv-adapter
Section: misc
Priority: optional
Maintainer: Tomoya Kimura <tomoya.kimura@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), libgoogle-glog-dev, ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-adapi-v1-msgs, ros-humble-autoware-cmake, ros-humble-autoware-control-msgs, ros-humble-autoware-internal-planning-msgs, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-planning-msgs, ros-humble-autoware-system-msgs, ros-humble-autoware-vehicle-msgs, ros-humble-diagnostic-msgs, ros-humble-geometry-msgs, ros-humble-nav-msgs, ros-humble-rclcpp, ros-humble-sensor-msgs, ros-humble-std-msgs, ros-humble-tf2, ros-humble-tf2-geometry-msgs, ros-humble-tier4-api-msgs, ros-humble-tier4-auto-msgs-converter, ros-humble-tier4-control-msgs, ros-humble-tier4-external-api-msgs, ros-humble-tier4-planning-msgs, ros-humble-tier4-system-msgs, ros-humble-tier4-v2x-msgs, ros-humble-tier4-vehicle-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-awapi-awiv-adapter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgoogle-glog-dev, ros-humble-autoware-adapi-v1-msgs, ros-humble-autoware-control-msgs, ros-humble-autoware-internal-planning-msgs, ros-humble-autoware-planning-msgs, ros-humble-autoware-system-msgs, ros-humble-autoware-vehicle-msgs, ros-humble-diagnostic-msgs, ros-humble-geometry-msgs, ros-humble-nav-msgs, ros-humble-rclcpp, ros-humble-sensor-msgs, ros-humble-std-msgs, ros-humble-tf2, ros-humble-tf2-geometry-msgs, ros-humble-tier4-api-msgs, ros-humble-tier4-auto-msgs-converter, ros-humble-tier4-control-msgs, ros-humble-tier4-external-api-msgs, ros-humble-tier4-perception-msgs, ros-humble-tier4-planning-msgs, ros-humble-tier4-system-msgs, ros-humble-tier4-v2x-msgs, ros-humble-tier4-vehicle-msgs, ros-humble-topic-tools
Description: The awapi_awiv_adapter package
