Source: ros-humble-autoware-scenario-simulator-v2-adapter-1-5-0
Section: misc
Priority: optional
Maintainer: Kyoichi Sugahara <kyoichi.sugahara@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>, ros-humble-diagnostic-msgs, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tier4-metric-msgs, ros-humble-tier4-simulation-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-scenario-simulator-v2-adapter-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-diagnostic-msgs, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tier4-metric-msgs, ros-humble-tier4-simulation-msgs
Description: Node for converting autoware's messages into UserDefinedValue messages
