Source: ros-humble-tier4-simulator-launch
Section: misc
Priority: optional
Maintainer: Keisuke Shima <keisuke.shima@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-tier4-simulator-launch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, autoware-dummy-perception-publisher, autoware-elevation-map-loader, autoware-fault-injection, autoware-multi-object-tracker, autoware-perception-online-evaluator, autoware-simple-planning-simulator, autoware-vehicle-door-simulator, ros-humble-autoware-pose-initializer, ros-humble-autoware-vehicle-velocity-converter, tier4-localization-launch, tier4-perception-launch
Description: The tier4_simulator_launch package
