Source: ros-humble-nebula-core-common-1-7-1
Section: misc
Priority: optional
Maintainer: David Wong <david.wong@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), libpcl-dev, nlohmann-json3-dev, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-7-1, ros-humble-ros-environment
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-nebula-core-common-1-7-1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpcl-dev, nlohmann-json3-dev
Description: Nebula Common Base Libraries and headers
