Source: ros-humble-nebula-sample-1-9-0
Section: misc
Priority: optional
Maintainer: David Wong <david.wong@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-autoware-cmake-1-9-0, ros-humble-diagnostic-msgs, ros-humble-diagnostic-updater, ros-humble-nebula-core-common-1-9-0, ros-humble-nebula-core-ros-1-9-0, ros-humble-nebula-msgs-1-9-0, ros-humble-nebula-sample-common-1-9-0, ros-humble-nebula-sample-decoders-1-9-0, ros-humble-nebula-sample-hw-interfaces-1-9-0, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-sensor-msgs, ros-humble-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-nebula-sample-1-9-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-diagnostic-msgs, ros-humble-diagnostic-updater, ros-humble-nebula-core-common-1-9-0, ros-humble-nebula-core-ros-1-9-0, ros-humble-nebula-msgs-1-9-0, ros-humble-nebula-sample-common-1-9-0, ros-humble-nebula-sample-decoders-1-9-0, ros-humble-nebula-sample-hw-interfaces-1-9-0, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-sensor-msgs, ros-humble-std-msgs
Description: Nebula Sample ROS 2 Package
