Source: ros-humble-autoware-command-mode-decider-1-5-0
Section: misc
Priority: optional
Maintainer: Takagi, Isamu <isamu.takagi@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-adapi-v1-msgs-1-5-0, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-command-mode-types-1-5-0, ros-humble-autoware-internal-debug-msgs-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-system-msgs-1-5-0, ros-humble-autoware-universe-utils-1-5-0, ros-humble-diagnostic-updater, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tier4-system-msgs-1-5-0
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-command-mode-decider-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-adapi-v1-msgs-1-5-0, ros-humble-autoware-command-mode-types-1-5-0, ros-humble-autoware-internal-debug-msgs-1-5-0, ros-humble-autoware-system-msgs-1-5-0, ros-humble-autoware-universe-utils-1-5-0, ros-humble-diagnostic-updater, ros-humble-pluginlib, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tier4-system-msgs-1-5-0
Description: The autoware_command_mode_decider package
