Source: ros-humble-tier4-target-object-type-rviz-plugin
Section: misc
Priority: optional
Maintainer: Takamasa Horibe <takamasa.horibe@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), libqt5core5a, libqt5gui5, libqt5widgets5, qtbase5-dev, ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>, ros-humble-cv-bridge, ros-humble-rclcpp, ros-humble-rviz-common, ros-humble-rviz-rendering
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-tier4-target-object-type-rviz-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a, libqt5gui5, libqt5widgets5, qtbase5-dev, ros-humble-cv-bridge, ros-humble-rclcpp, ros-humble-rviz-common, ros-humble-rviz-rendering
Description: The tier4_target_object_type_rviz_plugin package
