Source: ros-humble-autoware-pipeline-latency-monitor
Section: misc
Priority: optional
Maintainer: Kyoichi Sugahara <kyoichi.sugahara@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-control-msgs, ros-humble-autoware-internal-debug-msgs, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-planning-msgs, ros-humble-autoware-planning-validator, ros-humble-autoware-universe-utils, ros-humble-diagnostic-msgs, ros-humble-diagnostic-updater, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-std-msgs, ros-humble-tier4-debug-msgs, ros-humble-tier4-metric-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-pipeline-latency-monitor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-cmake, ros-humble-autoware-control-msgs, ros-humble-autoware-internal-debug-msgs, ros-humble-autoware-planning-msgs, ros-humble-autoware-planning-validator, ros-humble-autoware-universe-utils, ros-humble-diagnostic-msgs, ros-humble-diagnostic-updater, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-std-msgs, ros-humble-tier4-debug-msgs, ros-humble-tier4-metric-msgs
Description: Monitor latency in the Autoware pipeline and publish diagnostics when a threshold is exceeded
