Source: ros-humble-autoware-system-design-examples-1-9-0
Section: misc
Priority: optional
Maintainer: Taekjin Lee <taekjin.lee@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-autoware-cmake-1-9-0, ros-humble-autoware-system-designer-1-9-0
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-system-design-examples-1-9-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-system-designer-1-9-0
Description: The autoware_system_design_examples package
