Source: ros-humble-autoware-shape-estimation-1-5-0
Section: misc
Priority: optional
Maintainer: Yukihiro Saito <yukihiro.saito@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), libeigen3-dev, libopencv-dev, libpcl-dev, ros-humble-ament-cmake-1-5-0, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-cuda-dependency-meta-1-5-0, ros-humble-autoware-cuda-utils-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-autoware-tensorrt-common-1-5-0, ros-humble-autoware-test-utils-1-5-0 <!nocheck>, ros-humble-autoware-utils-1-5-0, ros-humble-cudnn-cmake-module, ros-humble-pcl-conversions, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tensorrt-cmake-module, ros-humble-tf2, ros-humble-tf2-eigen, ros-humble-tf2-geometry-msgs, ros-humble-tier4-perception-msgs-1-5-0
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-shape-estimation-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, libopencv-dev, libpcl-dev, ros-humble-autoware-cuda-dependency-meta-1-5-0, ros-humble-autoware-cuda-utils-1-5-0, ros-humble-autoware-perception-msgs-1-5-0, ros-humble-autoware-tensorrt-common-1-5-0, ros-humble-autoware-utils-1-5-0, ros-humble-cudnn-cmake-module, ros-humble-pcl-conversions, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tensorrt-cmake-module, ros-humble-tf2, ros-humble-tf2-eigen, ros-humble-tf2-geometry-msgs, ros-humble-tier4-perception-msgs-1-5-0
Description: This package implements a shape estimation algorithm as a ROS 2 node
