Source: ros-humble-common-awsim-labs-sensor-launch-1-5-0
Section: misc
Priority: optional
Maintainer: Piotr Jaroszek <piotr.jaroszek@robotec.ai>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-lint-common <!nocheck>
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-common-awsim-labs-sensor-launch-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-velodyne-driver, ros-humble-velodyne-pointcloud
Description: The common_sensor_launch package
