Source: ros-humble-agnocast-sample-application-1-5-0
Section: misc
Priority: optional
Maintainer: Takahiro Ishikawa-Aso <sykwer@gmail.com>
Build-Depends: debhelper (>= 12.0.0), ros-humble-agnocast-sample-interfaces-1-5-0, ros-humble-agnocastlib-1-5-0, ros-humble-ament-cmake-1-5-0, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-rclcpp, ros-humble-rclcpp-components
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-agnocast-sample-application-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-agnocast-sample-interfaces-1-5-0, ros-humble-agnocastlib-1-5-0, ros-humble-rclcpp, ros-humble-rclcpp-components
Description: A sample application for Agnocast.
