Source: ros-humble-autoware-control-validator
Section: misc
Priority: optional
Maintainer: Kyoichi Sugahara <kyoichi.sugahara@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-index-cpp <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake, ros-humble-autoware-lint-common <!nocheck>, ros-humble-autoware-motion-utils, ros-humble-autoware-planning-msgs, ros-humble-autoware-signal-processing, ros-humble-autoware-test-utils <!nocheck>, ros-humble-autoware-universe-utils, ros-humble-autoware-vehicle-info-utils, ros-humble-diagnostic-updater, ros-humble-geometry-msgs, ros-humble-nav-msgs, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-rosidl-default-generators, ros-humble-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-control-validator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-autoware-motion-utils, ros-humble-autoware-planning-msgs, ros-humble-autoware-signal-processing, ros-humble-autoware-universe-utils, ros-humble-autoware-vehicle-info-utils, ros-humble-diagnostic-updater, ros-humble-geometry-msgs, ros-humble-nav-msgs, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-rosidl-default-runtime, ros-humble-visualization-msgs
Description: ros node for autoware_control_validator
