Source: ros-humble-eagleye-navigation-1-5-0
Section: misc
Priority: optional
Maintainer: osamu.sekino <osamu.sekino@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-eagleye-coordinate-1-5-0, ros-humble-eagleye-msgs-1-5-0, ros-humble-geodesy, ros-humble-nmea-msgs, ros-humble-rclcpp, ros-humble-rtklib-msgs-1-5-0, ros-humble-sensor-msgs, ros-humble-tf2-geometry-msgs, ros-humble-tf2-ros, ros-humble-yaml-cpp-vendor
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-eagleye-navigation-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-eagleye-coordinate-1-5-0, ros-humble-eagleye-msgs-1-5-0, ros-humble-geodesy, ros-humble-rclcpp, ros-humble-rtklib-msgs-1-5-0, ros-humble-sensor-msgs, ros-humble-yaml-cpp-vendor
Description: The navigation package
