Source: ros-humble-autoware-motion-utils-1-5-0
Section: misc
Priority: optional
Maintainer: Satoshi Ota <satoshi.ota@tier4.jp>
Build-Depends: debhelper (>= 12.0.0), libboost-dev, ros-humble-ament-cmake-auto, ros-humble-ament-cmake-ros <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-adapi-v1-msgs-1-5-0, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-internal-planning-msgs-1-5-0, ros-humble-autoware-interpolation-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-planning-msgs-1-5-0, ros-humble-autoware-utils-geometry-1-5-0, ros-humble-autoware-utils-math-1-5-0, ros-humble-autoware-utils-system-1-5-0, ros-humble-autoware-utils-visualization-1-5-0, ros-humble-autoware-vehicle-msgs-1-5-0, ros-humble-builtin-interfaces, ros-humble-geometry-msgs, ros-humble-rclcpp, ros-humble-tf2, ros-humble-tf2-geometry-msgs, ros-humble-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-motion-utils-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-dev, ros-humble-autoware-adapi-v1-msgs-1-5-0, ros-humble-autoware-internal-planning-msgs-1-5-0, ros-humble-autoware-interpolation-1-5-0, ros-humble-autoware-planning-msgs-1-5-0, ros-humble-autoware-utils-geometry-1-5-0, ros-humble-autoware-utils-math-1-5-0, ros-humble-autoware-utils-system-1-5-0, ros-humble-autoware-utils-visualization-1-5-0, ros-humble-autoware-vehicle-msgs-1-5-0, ros-humble-builtin-interfaces, ros-humble-geometry-msgs, ros-humble-rclcpp, ros-humble-tf2, ros-humble-tf2-geometry-msgs, ros-humble-visualization-msgs
Description: The autoware_motion_utils package
