Source: ros-humble-autoware-compare-map-segmentation-1-5-0
Section: misc
Priority: optional
Maintainer: amc-nu <abrahammonrroy@yahoo.com>
Build-Depends: debhelper (>= 12.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-index-cpp, ros-humble-ament-lint-auto <!nocheck>, ros-humble-autoware-cmake-1-5-0, ros-humble-autoware-internal-debug-msgs-1-5-0, ros-humble-autoware-lanelet2-extension-1-5-0, ros-humble-autoware-lint-common-1-5-0 <!nocheck>, ros-humble-autoware-map-msgs-1-5-0, ros-humble-autoware-point-types-1-5-0, ros-humble-autoware-pointcloud-preprocessor-1-5-0, ros-humble-autoware-test-utils-1-5-0, ros-humble-autoware-utils-1-5-0, ros-humble-diagnostic-updater, ros-humble-geometry-msgs, ros-humble-grid-map-pcl, ros-humble-grid-map-ros, ros-humble-lanelet2-core, ros-humble-lanelet2-projection, ros-humble-lanelet2-routing, ros-humble-nav-msgs, ros-humble-pcl-conversions, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-sensor-msgs, ros-humble-std-msgs, ros-humble-tf2, ros-humble-tf2-ros, ros-humble-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-compare-map-segmentation-1-5-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-ament-index-cpp, ros-humble-autoware-internal-debug-msgs-1-5-0, ros-humble-autoware-lanelet2-extension-1-5-0, ros-humble-autoware-map-msgs-1-5-0, ros-humble-autoware-point-types-1-5-0, ros-humble-autoware-pointcloud-preprocessor-1-5-0, ros-humble-autoware-test-utils-1-5-0, ros-humble-autoware-utils-1-5-0, ros-humble-diagnostic-updater, ros-humble-geometry-msgs, ros-humble-grid-map-pcl, ros-humble-grid-map-ros, ros-humble-lanelet2-core, ros-humble-lanelet2-projection, ros-humble-lanelet2-routing, ros-humble-nav-msgs, ros-humble-pcl-conversions, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-sensor-msgs, ros-humble-std-msgs, ros-humble-tf2, ros-humble-tf2-ros, ros-humble-visualization-msgs
Description: The ROS 2 autoware_compare_map_segmentation package
